# Setup

In [10]:
import pandas as pd
import torch
from pathlib import Path
from PIL import Image
from sklearn.model_selection import train_test_split
from torch.utils.data import Dataset
from transformers import (
    TrOCRProcessor,
    VisionEncoderDecoderModel,
    Seq2SeqTrainer,
    Seq2SeqTrainingArguments,
    default_data_collator
)
from evaluate import load

c:\Users\IrSkhirtladze\Desktop\TrOCR-ka\.venv\lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [7]:
data_dir = Path("data")

In [6]:
metadata_df = pd.read_csv(data_dir / "metadata.csv")
metadata_df.head(5)

                        file_name          text
0  3d_unicode/3d_unicode_0000.png          ამათ
1  3d_unicode/3d_unicode_0001.png   პარტიანკაში
2  3d_unicode/3d_unicode_0002.png  კომენტარების
3  3d_unicode/3d_unicode_0003.png       ფრიდრიხ
4  3d_unicode/3d_unicode_0004.png   ცდწლოოწნწში

In [8]:
most_freq_word = metadata_df["text"].value_counts()
most_freq_word

text
და              4221
არ              1163
რომ              995
იყო              768
კი               604
                ...
ფუფთწჟჯკდპბგ       1
ოოწლღდჩქთტტ        1
გითქვამს           1
სიკვდილია          1
ბგშჩდეკშჰ          1
Name: count, Length: 38003, dtype: int64

# Train-test splitting